<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>INFORMACIÓ PRODESSORAT TIC BARCELONA</h1>
    <label>ID NOM COGNOM EDAT ROL CURS</label>
    <div>
        <label></label>{{ nombre }}
    </div>
    <div>
        <label></label>{{ cognom }}
    </div>
    <div>
        <label></label>{{ cognom2 }}
    </div>
    <div>
        <label></label>{{ correo }}
    </div>
    <div>
        <label></label>{{ rol }}
    </div>
    <div>
        <label></label>{{ modulos }}
    </div>
</body>
</html>